<%= turbo_frame_tag "form_propose" do %>
  <% if @prepoll.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@prepoll.errors.count, "error") %> prohibited this @prepoll from being saved:</h2>

      <ul>
        <% @prepoll.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form_propose", pre_poll: @pre_poll %>
<% end %>
