// TODO: ChatGPTに作ってもらった。あとでちゃんとクラスで指定する

ul.vote-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 4px;
    cursor: move;
  }

  li:hover {
    background-color: #e9e9e9;
  }
}

.btn-xs {
  padding: 0.1rem 0.3rem;
  font-size: 0.55rem;
  line-height: 1.2;
  border-radius: 0.2rem;
}
